.d-none {
    display: none;
}

:root {
    --white: rgba(255, 255, 255, 1);
    --general-button-inactive: rgba(42, 54, 71, 1);
    --general-button-hover: rgba(41, 171, 226, 1);
    --general-button-active: rgba(9, 25, 49, 1);
    --lightgrey: rgba(246, 247, 248, 1);
    --placeholder: rgba(209, 209, 209, 1);
    --menu-color: #42526E;
    --version-2-main-color: #2A3647;
}

.open-assign-container2 {
    width: 27.5em;
}

.assign-container-style {
    border: 1px solid rgba(41, 171, 226, 1);
}

.checkbox-container {
    display: flex;
    align-items: start;
    height: 17.5em;
    box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: white;
    transition: 100ms ease-in-out;
}

.select-category {
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: white;
    z-index: 11;
}

.select-category span {
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

.select-category:hover {
    cursor: pointer;
}

.select-task-category-container {
    padding: 12px 16px;
    border-radius: 10px;
    width: 93%;
}

.select-task-category-container:hover {
    background-color: rgba(0, 0, 0, 0.2);
}