.logoContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}
.logoAnimationImg {
    background-image: url("./IMG/Capa 1.png");
    /* width: 274px;
    height: 334.07px; */
    width: 101px;
    height: 124px;
    background-size: cover;
    transform: translate(0px, 0px);
    animation: logoAnimation 1.8s ease-in-out;
    position: absolute;
    top: 45px;
    left: 45px;

}

/* Animation */
@keyframes logoAnimation {
    from {
        top: calc(100vh - 50%);
        left: calc(100vw - 50%);
        scale: 200%;
    }

    to {
        top: 45px;
        left: 45px;
    }
}
