body{
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: antiquewhite;
}
form{
    background-color: aqua;
    padding: 1rem;
}
.board{
    background-color: cornsilk;
    display: flex;
    justify-content: space-between;
    margin: 1em 1em 0 1em;
    border: 1em double goldenrod;
    padding: 1em;
    height: 70vh;
}
.lanes{
    background-color: blue;
    width:24%;
    color: white;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.todoCard{
    width:100%;
    display: flex;
    align-items:center;
    flex-direction: row;
    justify-content: space-between;
    border:0.1em ridge greenyellow
}