body {
    display: flex;
    justify-content: space-between;
    height: 100vh;
}

.contacts-list-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 13vh 3vw 16px 232px;
    width: calc(100% - 232px);
}

#contactsList {
    overflow: scroll;
    margin-bottom: 0;
    padding-bottom: 0;
    background-color: white;
}

.button-width {
    display: flex;
    width: 352px;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.button-width:active {
    background-color: #2A3647 !important;
}

.contactfield-wrapper {
    width: 352px !important;
    display: flex;
    justify-content: flex-start;
}

.alphabet-section {
    width: 352px;
    display: flex;
    padding: 17px 36px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.contact {
    display: flex;
    flex-direction: column;
    padding: 15px 24px;
    align-items: flex-start;
    gap: 35px;
}

.contactfield {
    display: flex;
    align-items: center;
    max-width: 352px;
}

.contactfield:hover {
    cursor: pointer;
    border-radius: 10px;
    background: var(--Boton-gradient, linear-gradient(180deg, #F9F9F9 0%, #F0F0F0 100%));
}

.contactfield:active {
    border-radius: 10px;
    background: var(--version-2-main-color, #2A3647);
    color: white;
}

.initials-logo {
    color: white;
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 45px;
    background: var(--white, #FFF);
}

h1 {
    margin-top: 10vh !important;
}

.vector-blue {
    width: 3px;
    height: 59px;
}