body{
    background-color: darkgray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
h1{
    font-size: 61px;
    font-family: sans-serif;
}
.loginWindow{
    width: 652px;
    height: 493px;
    top: 265.5px;
    left: 394px;
    padding: 48px, 115px, 48px, 115px;
    border-radius: 30px;
    gap: 32px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}
.notAUser{
    position: absolute;
    top: 67px;

}
