.content-add-task {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.add-taskWindow {
    display: flex;
    justify-content: center;
}

.add-task-headline {
    margin: 0 0 32px 76px;
}