.d-none {
    display: none;
}

:root {
    --white: rgba(255, 255, 255, 1);
    --general-button-inactive: rgba(42, 54, 71, 1);
    --general-button-hover: rgba(41, 171, 226, 1);
    --general-button-active: rgba(9, 25, 49, 1);
    --lightgrey: rgba(246, 247, 248, 1);
    --placeholder: rgba(209, 209, 209, 1);
    --menu-color: #42526E;
    --version-2-main-color: #2A3647;
}

.open-assign-container2 {
    width: 31em;
}

.assign-container1 {
    display: flex;
    /* width: 100%; */
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    padding-right: 5px;
}

.assign-container1 input {
    border: none;
}

.assign-container-style {
    border: 1px solid rgba(41, 171, 226, 1);
}

.checkbox-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0.5em;
    box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: white;
    transition: 100ms ease-in-out;
    overflow-x: hidden;
    overflow-y: scroll;
    position: absolute;
    width: 27.5em;
    max-height: 20em;
}

.checkbox-container td {
    display: flex;
    padding: 0.5em;
    gap: 7em;
    width: 24em;
    border-radius: 10px;
}


.checkbox-container td:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2);
}

.checkbox-container table {
    width: 100%;
    display: flex;
    align-items: center;
}

.select-category {
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: white;
    box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.2);
    z-index: 11;
    position: absolute;
    width: 27.5em;
}

.select-category span {
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

.select-category:hover {
    cursor: pointer;
}

.select-task-category-container {
    padding: 12px 16px;
    border-radius: 10px;
    width: 25.5em;
}

.select-task-category-container:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.add-new-contact {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: none;
    width: 80%;
    background-color: var(--version-2-main-color);
    color: white;
    gap: 2em;
    font-family: Inter;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    padding: 0.4em 0.75em;
}