@media (max-width: 1254px) {
    .vector-blue,
    .subtitle-contacts {
        display: none;
    }
}

@media (max-width: 1188px) {
    /* .sidebar,
    .header {
        display: none;
    } */
    /* .respon-header {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        height: 96px;
        padding-left: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #FFF;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
    }
    .respon-footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--dark-blue);
        color: white;
    }
    .respon-logo {
        width: 46px;
        height: 56px;
        object-fit: cover;
    }
    .nav-footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .respon-footer-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 4px;
        padding: 15px;
        border-radius: 8px;
        min-width: 76px;
    }
    .respon-footer-buttons:hover {
        cursor: pointer;
        background-color: var(--general-button-active);
    } */
    /* #content {
        position: absolute;
        left: 0;
    }
    .contacts-headline {
        justify-content: center;
    }
    .contacts-content {
        flex-direction: column-reverse;
        align-items: center;
    } */
    .contacts-h1 {
        display: none;
    }
    .contacts-list-section {
        max-width: 100%;
    }
}