@media (max-width: 1140px) {
    .vector-blue,
    .subtitle-contacts {
        display: none;
    }
}

@media (max-width: 1010px) {
    .sidebar,
    .header {
        display: none;
    }
    .respon-footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--dark-blue);
        color: white;
    }
    .nav-footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .respon-footer-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 4px;
        padding: 15px;
        border-radius: 8px;
        min-width: 76px;
    }
    .respon-footer-buttons:hover {
        cursor: pointer;
        background-color: var(--general-button-active);
    }
}