/* .content-add-task {
    margin-right: 450px;
}
 */

.add-taskWindow {
    display: flex;
    justify-content: center;
}

.add-task-headline {
    margin: 0 0 32px 76px;
}

.textarea-resize {
    resize: both !important;
    background: url('../IMG/recurso.png') no-repeat;
    background-position: calc(100% - 6px) calc(100% - 6px);
}

.textarea-resize::-webkit-resizer {
    display: none;
}

.info-required {
    color: #FF8190;
    font-size: 20px;
    font-weight: 400;
}

.addTask-info-required {
    margin-top: 120px;
}

.addTask-button {
    margin-right: 65px;
    display: flex;
    gap: 16px;
    margin-top: 18px;
}

.content-headline-add-task {
    display: flex;
    justify-content: space-between;
    margin-left: 74px;
}

.content-headline-add-task h3 {
    font-size: 61px;
    font-weight: 700;
    margin-block-start: 0;
    margin-block-end: 0;
}

.content-addTask-button {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    align-items: end;
}

.content-board-task-footer { 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 140px;
}

.maxWidth {
    position: absolute;
    bottom: 20px;
}
