.d-none {
    display: none;
}

:root {
    --white: rgba(255, 255, 255, 1);
    --general-button-inactive: rgba(42, 54, 71, 1);
    --general-button-hover: rgba(41, 171, 226, 1);
    --general-button-active: rgba(9, 25, 49, 1);
    --lightgrey: rgba(246, 247, 248, 1);
    --placeholder: rgba(209, 209, 209, 1);
    --menu-color: #42526E;
    --version-2-main-color: #2A3647;
}


/*********************************RENDER ADD TASK ********************************************/

.bg-task {
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
    width: 100;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateX(5000px);
    transition: all 225ms ease-in-out;
}

.board-task-input {
    display: flex;
    flex-direction: column;
}

.board-task-input label sup {
    color: #FF8190;
    font-size: 20px;
    font-weight: 400;
}

.show-bg-task {
    transform: translateX(0);
}

.add-task {
    /* display: flex;
    justify-content: space-between; */
    background-color: #fff;
    height: 870px;
    border-radius: 30px;
    /* position: relative; */
}

.header-add-task {
    display: flex;
    justify-content: space-between;
}

.headline-add-task {
    display: flex;
    justify-content: space-between;
    margin-top: 64px;
    margin-left: 74px;
}

.headline-add-task h3 {
    font-size: 61px;
    font-weight: 700;
    margin-block-start: 0;
    margin-block-end: 0;
}

.board-task-middle {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}


/*********************************   LEFT SIDE  ********************************************/

.left-side {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    margin-left: 75px;
    margin-right: 48px;
}

.board-task-input label {
    color: #2A3647;
    font-size: 20px;
    font-weight: 400;
}

.board-task-input {
    gap: 8px;
}

.board-task-input input {
    display: flex;
    align-items: center;
    align-self: stretch;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    background: #FFF;
    /* width: 22em; */
    padding: 0.75em 1.3em;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
}

.board-task-input-button-style input {
    width: 22em;
    display: flex;
    align-items: center;
    align-self: stretch;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    background: #FFF;
    padding: 0.75em 1.3em;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
}

.board-task-input input::placeholder {
    color: #D1D1D1;
}

.board-task-input input:focus {
    outline: none;
}

.board-task-input input:hover {
    cursor: pointer;
}

.board-task-input p {
    color: #2A3647;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    margin-block-start: 0;
    margin-block-end: 0;
}

.button-hover input::placeholder {
    color: #D1D1D1;
}

.button-hover input:focus {
    outline: none;
}

.button-hover input:hover {
    cursor: pointer;
}

.placeholder-enter {
    padding: 0.75em 1.3em;
}

.input-description {
    display: flex;
    gap: 8px;
    flex-direction: column;
}

.input-description p {
    color: #2A3647;
    font-size: 20px;
    font-weight: 400;
    margin-block-start: 0;
    margin-block-end: 0;
}

.input-description textarea {
    display: flex;
    height: 70px;
    padding: 1.1em 1em;
    align-items: flex-start;
    align-self: stretch;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    background-color: #FFF;
    font-size: 20px;
    font-weight: 400;
    width: 20em;
    resize: none;
}

.input-description textarea::placeholder {
    color: #D1D1D1;
}

.input-description textarea:focus {
    outline: none;
}

.input-description textarea:hover {
    cursor: pointer;
}

.assigned-contact p {
    margin-block-start: 0;
    margin-block-end: 0;
    color: #2A3647;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.assign-container {
    display: flex;
    width: 27.5em;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    padding-right: 5px;
}

.assign-container:hover {
    border: 1px solid --general-button-hover;
}

.assign-container img:hover {
    cursor: pointer;
    background-color: #D9D9D9;
    border-radius: 100%;
}

.assign-container input {
    border: none;
}

.assign-container placeholder {
    color: #D1D1D1;
}

.field-required-text {
    margin-left: 74px;
    display: flex;
    gap: 5px;
    align-items: baseline;
}

.field-required-text sub {
    color: #FF8190;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.field-required-text p {
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}


/*********************************   SEPORATOR  ********************************************/

.seperator-add-task {
    margin-top: 32px;
}


/*********************************   RIGHT SIDE  ********************************************/

.right-side {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 24px;
    margin-right: 65px;
    margin-left: 48px;
}

.close-button-add-task:hover {
    cursor: pointer;
    background-color: #D9D9D9;
    border-radius: 100%;
    transition: 100ms ease-in-out;
}


/* .close-button-add-task {
    margin-right: 44px;
} */

.input-date {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}

.prio-category {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 8px;
}

.prio-category p {
    margin-block-start: 0;
    margin-block-end: 0;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    /* color: #2A3647; */
}

.prio-category-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 27.5em;
    height: 56px;
}

.prio-buttons-style input {
    border: none;
    background-color: #FFF;
    cursor: pointer;
}

.category-button {
    display: flex;
    padding: 16px 10px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
    border: none;
}

.category-button:hover {
    cursor: pointer;
    box-shadow: 0px 6px 4px 0px rgba(0, 0, 0, 0.10);
}

.category-button-red {
    background-color: #FF3D00;
    color: #FFF;
}

.category-button-yellow {
    background-color: #FFA800;
    color: #FFF;
}

.category-button-green {
    background-color: #7AE229;
    color: #FFF;
}

.category {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}


/* .category input {
    color: var(--Style, #D1D1D1);
} */

.category label sub {
    color: #FF8190;
    font-size: 20px;
    font-weight: 400;
}

.category label {
    color: #2A3647;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    gap: 2px;
}

.board-input-date {
    display: flex;
    align-items: center;
    width: 27.5em;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    height: 48px;
}

.board-input-date input {
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    background: #FFF;
    width: 90%;
}

.board-input-date input[type="date"] {
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    color: #2A3647;
}

.create-subtask {
    position: absolute;
}

.create-subtask ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 26em;
    background-color: #D1D1D1;
    border-radius: 10px;
    padding-left: 1.5em;
    padding-right: .5em;
    height: 2em;
}

.create-subtask ul:hover {
    cursor: pointer;
}

.subtask-img {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.open-subtask {
    border: 1px solid rgba(41, 171, 226, 1);
}

.open-subtask img {
    padding: 5px;
}

.open-subtask input {
    color: black !important;
}

.subtask-line:hover {
    background-color: #FFF !important;
}

.fix-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 27em;
    padding-right: 0.5em;
    /* height: 2em; */
    border-bottom: solid 1px #005DFF;
    background-color: white;
}

.fix-container img:hover {
    cursor: pointer;
    background-color: #D9D9D9;
    border-radius: 100%;
}

.fix-subtask-icons {
    display: flex;
    gap: 8px;
}

.fix-todo-subtask input {
    border: none;
    outline: none;
    /* height: 2em; */
    width: 26em;
    color: #2A3647;
}

.bottom-button {
    display: flex;
    gap: 25px;
    margin-right: 65px;
}

.cancel-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 4px;
    border-radius: 10px;
    border: 1px solid color #2A3647;
    background-color: #FFF;
}

.cancel-button:hover {
    cursor: pointer;
    border-color: var(--general-button-hover);
    color: var(--general-button-hover);
    box-shadow: 0px 6px 4px 0px rgba(0, 0, 0, 0.10);
    transition: 100ms ease-in-out;
}

.cancel-button-stroke:hover {
    stroke: var(--general-button-hover);
}

.cancel-button span {
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

.create-task-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 4px;
    border-radius: 10px;
    border: 1px solid;
    background-color: #2A3647;
    color: #FFF;
}

.create-task-button:hover {
    cursor: pointer;
    border-color: var(--general-button-hover);
    background-color: var(--general-button-hover);
    box-shadow: 0px 6px 4px 0px rgba(0, 0, 0, 0.10);
    transition: 100ms ease-in-out;
}

.create-task-button span {
    color: #FFF;
    font-family: Inter;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.board-task-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 140px;
    align-items: end;
}