input[type=search]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}

input[type=search]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

:root {
    --white: rgba(255, 255, 255, 1);
    --general-button-inactive: rgba(42, 54, 71, 1);
    --general-button-hover: rgba(41, 171, 226, 1);
    --general-button-active: rgba(9, 25, 49, 1);
    --lightgrey: rgba(246, 247, 248, 1);
    --placeholder: rgba(209, 209, 209, 1);
    --menu-color: #42526E;
    --version-2-main-color: #2A3647;
}

.cursor-pointer:hover {
    cursor: pointer;
}

.res-content-board {
    padding: 90px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.frame-192 {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10px;
    margin-bottom: 4em;
    padding-top: 90px;
}

.frame-192 h2 {
    font-size: 61px;
}

.frame-123 {
    display: flex;
    align-items: center;
}

.frame-123 input {
    width: 312px;
    height: 48px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 400;
}

.input-search:hover {
    cursor: pointer;
}

.input-search input:hover {
    cursor: pointer;
}

.input-search input:focus {
    outline: none;
}

.input-search {
    border: 1px solid #A8A8A8;
    background-color: #FFF;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.separator-find-task {
    padding-right: 16px;
}

.search-icon {
    width: 32px;
    height: 32px;
    padding-right: 16px;
    overflow: hidden;
}

.search-icon img:hover {
    cursor: pointer;
    background-color: #D9D9D9;
    border-radius: 100%;
}

.button-add-task {
    height: 48px;
    margin-left: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2A3647;
    display: flex;
    padding: 8px 16px;
    gap: 4px;
    border-radius: 10px;
    border: 1px solid #2A3647;
    border: none;
}

.button-add-task:hover {
    cursor: pointer;
    background-color: var(--general-button-hover);
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.5);
    transition: 100ms ease-in-out;
}

.button-add-task p {
    color: white;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
}

.button-add-task img {
    width: 32px;
    height: 32px;
}


/********************************* ACTION BAR *************************************/

.content-add-task {
    padding-top: 90px;
}

.frame-136 {
    width: 90%;
    gap: 26px;
    display: flex;
    gap: 26px;
    justify-content: space-between;
    align-items: flex-start;
    height: 60vh;
}

.board-actionbar p {
    font-size: 20px;
    font-weight: 700;
    color: var(--menu-color);
}

.border-plus {
    display: flex;
    height: 24px;
    width: 24px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 2px solid var(--version-2-main-color, #2A3647);
}

.border-plus:hover {
    cursor: pointer;
    border: 2px solid var(--general-button-hover);
}

.border-plus:hover .hover-svg path {
    stroke: var(--general-button-hover);
}

.no-task {
    display: flex;
    height: 48px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 10px;
    border: 1px dashed #A8A8A8;
    background: #E7E7E7;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
    width: 246px;
}

.task-todo {
    display: flex;
}

.no-task p {
    color: #A8A8A8;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.canban-style {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    height: 100%;
    width: 260px;
}

.lanes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 254px; */
}

.empty-tasks {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border: 1px dashed var(--icon, #A8A8A8);
    background: #E7E7E7;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
    width: 252px;
    margin-top: 30px
}

.empty-tasks p {
    color: var(--icon, #A8A8A8);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.popUpTaskCard {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.629);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 225ms ease-in-out;
    z-index: 2;
}

.showPopUpTaskCard {
    transform: translateX(0);
}

.drag-area-highlight {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}