/* body {
    display: flex;
    justify-content: space-between;
    height: 100vh;
} */

.contacts-content {
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}


/* ====================================================== <contactslist> =============================================================== */

.contacts-list-section {
    display: flex;
    height: 95vh;
    flex-direction: column;
    align-items: flex-start;
    margin: 96px 3vw 0 232px;
    /* max-width: calc(57% - 232px); */
    background-color: white;
}

.contacts-list {
    width: calc(100% - 54px);
    display: flex;
    justify-content: flex-start !important;
    margin-bottom: 0;
    padding-bottom: 0;
    padding: 32px 24px;
    overflow-y: scroll;
    height: 75%;
}

.add-new-button {
    padding: 22.5px 0;
}

.button-width {
    display: flex;
    width: 352px;
    justify-content: center;
    align-items: center;
    gap: 16px !important;
}

.button-width:active {
    background-color: #2A3647 !important;
}

.contactfield-wrapper {
    width: 352px !important;
    display: flex;
    justify-content: flex-start;
}

.alphabet-section {
    width: 282px;
    display: flex;
    padding: 17px 36px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
    font-size: 20px;
    border-bottom: 1px solid #d1d1d1;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 352px;
}

.contactfield {
    display: flex;
    gap: 35px;
    align-items: center;
    max-width: 352px;
    padding: 15px 24px;
    margin-top: 8px;
}

.contactfield:hover {
    cursor: pointer;
    border-radius: 10px;
    background: var(--Boton-gradient, linear-gradient(180deg, #F9F9F9 0%, #F0F0F0 100%));
}

.contactfield:active {
    border-radius: 10px;
    background: var(--version-2-main-color, #2A3647);
    color: white;
}

.mail {
    color: rgba(0, 124, 238, 1);
    margin: 0;
}

.name {
    margin: 0;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.initials-logo {
    color: white;
    width: 55px;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 100%;
    background: var(--white, #FFF);
    font-size: 200;
}

.respon-add-contact {
    display: none;
}


/* ====================================================== </contactslist> =============================================================== */


/* ====================================================== <headline> =============================================================== */

.contacts-headline {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    margin-top: 9em;
    gap: 18px;
}

.vector-blue {
    width: 3px;
    height: 59px;
}

.subtitle-contacts {
    font-size: 27px;
}


/* ====================================================== </headline> =============================================================== */


/* ====================================================== <contacts-details> =============================================================== */

.contacts-view {
    width: 100%;
    padding-left: 5em;
}

.contact-container {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 21px;
    transform: translateX(400%);
    transition: all 225ms ease-in-out;
}

.show-details {
    transform: translateX(0);
}

.logo-by-details {
    width: 120px;
    height: 120px;
    font-size: 47px;
}

.contactView {
    display: flex;
    justify-content: flex-start;
    gap: 54px;
    margin-bottom: 40px;
}

.name-headline {
    font-weight: 500;
}

.contactsIcons {
    display: flex;
    justify-content: flex-start;
    gap: 16px;
}

.deleteIcon,
.editIcon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.deleteIcon:hover,
.editIcon:hover {
    cursor: pointer;
    color: var(--lightblue);
    transition: 0.1s ease-in-out;
}

.deleteIcon:hover img,
.editIcon:hover img {
    filter: brightness(3.5);
    transition: 0.1s ease-in-out;
}

.mail-headline {
    margin-top: 40px;
    margin-bottom: 0;
}

.phone-link {
    cursor: pointer;
    text-decoration: none !important;
    color: black;
}


/* ====================================================== </contacts-details> =============================================================== */


/* ====================================================== <add new contact overlay> =============================================================== */

.overlay-style {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.15);
    z-index: 2;
    transform: translateX(200%);
    transition: all 225ms ease-in-out;
}

.show-overlay,
.show-respon-overlay {
    transform: translateX(0);
}

.overlay-container {
    height: 70%;
    border-radius: 30px;
    background: #FFF;
    display: flex;
    justify-content: space-around;
}

.overlay-left-container {
    display: flex;
    padding: 66px 48px 100px 48px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    border-radius: 27px 0 0 27px;
    flex-shrink: 0;
    color: white;
    background: var(--version-2-main-color, #2A3647);
}

.add-contact-headline {
    margin: 0;
}

.overlay-mid-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 68px;
}

.add-Contact-logo {
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 100%;
    background: var(--placeholder);
    font-size: 200;
}

.overlay-right-container-addContact {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 48px 68px 48px 0;
    border-radius: 30px;
    gap: 32px;
    background-color: var(--white);
}

.style-closebutton {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 48px;
    right: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

.style-closebutton:hover {
    cursor: pointer;
    background: var(--placeholder);
    transition: 0.1s ease-in-out;
}

.addContact-form {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.frame-14 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(209, 209, 209, 1);
    border-radius: 10px;
    padding: 12px 21px 12px 21px;
}

.frame-14:focus-within {
    border: 1px solid var(--lightblue);
}

.btn-cancel {
    width: 126px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-create {
    width: 214px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.check-img-contacts {
    width: 24px;
    height: 24px;
}

.overlay-success {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: flex-end;
    margin-bottom: 68px;
    justify-content: center;
    z-index: 2;
    transform: translateX(200%);
    transition: all 225ms ease-in-out;
}

.show-success-overlay {
    transform: translateX(0);
}

.successInfoContainer {
    display: flex;
    width: 326px;
    height: 74px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    color: white;
    background: #2A3647;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
}


/* ====================================================== </add new contact overlay> =============================================================== */


/* ====================================================== <edit contact overlay> =============================================================== */

.btn-byEdit-delete,
.btn-byEdit-save {
    width: 111px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px !important;
}