@media (min-width: 1331px) {
    .responsiveMin {
        display: none;
    }
}

@media (max-width: 1330px) {
    #content {
        padding: 0;
    }

    .content-add-task {
        padding-left: 15%;
        padding-top: 90px;
    }

    /* .overlay-container {
        height: 60%;
    } */

    .content-add-task {
        margin-right: 0;
        /* overflow-y: scroll; */
    }

    .board-task-middle {
        display: flex;
        flex-direction: column;
    }

    .seperator-add-task {
        display: none;
    }

    .frame-157 {
        width: 370px;
    }

    .input-title {
        width: 40em;
    }

    .responsive {
        display: none;
    }

    /* .input-description {
        width: 40em;
    } */

    .input-description textarea {
        height: 150px;
        width: 30em;
    }

    .board-task-middle {
        height: 50vh;
        overflow-y: scroll;
        padding-bottom: 50px;
    }

    .assign-container {
        width: 40em;
        background-color: white;
    }

    .open-assign-container {
        position: relative;
    }

    .checkbox-container-button {
        width: 100%;
    }

    .checkbox-container {
        width: 39.8em;
    }

    .right-side {
        margin-left: 75px;
        margin-right: 48px;
    }

    #styleAddTask {
        margin-bottom: 0;
    }

    .board-input-date {
        width: 40.2em;
        background-color: white;
    }

    /* .board-input-date input {
        width: 100%;
    } */

    .prio-category-container {
        width: 40.2em;
    }

    /* .addTask-button {
        display: none;
    } */

    .select-category {
        position: relative;
        width: 100%;
    }

    .select-task-category-container {
        width: 92%;
    }

    .create-subtask {
        position: relative;
    }

    #hiddenSubtask {
        margin-bottom: 0;
    }
}

@media (max-width: 1188px) {
    .content-add-task {
        padding-top: 50px;
        padding-left: 50px;
    }

    .input-title {
        width: 100%;
    }

    .input-description {
        width: 100%;
    }

    .input-description textarea {
        height: 150px;
        width: 95%;
    }

    .board-task-input {
        width: 100%;
    }

    .assign-container {
        width: 100%;
        background-color: white;
    }

    .board-input-date {
        width: 100%;
        background-color: white;
    }

    #hiddenSelectCategory {
        width: 100%;
    }

    #taskCategoryInput {
        width: 100%;
    }

    .category {
        width: 100%;
    }

    .prio-category {
        width: 100%;
    }

    .prio-category-container {
        width: 100%;
    }

    .checkbox-container {
        width: 98%;
    }

    .select-task-category-container {
        width: 88%;
    }
}

@media (max-width: 850px) {
    .content-add-task {
        padding-top: 120px;
        height: 80vh;
    }

    .btn-create {
        width: 150px !important;
    }

    .header h2 {
        font-size: 1.1em;
    }
}

@media (max-width: 850px) {
  
}

@media (max-width: 740px) {
    .content-add-task {
        padding-top: 40px;
        height: 80vh;
        padding-left: 10px;
    }
}

@media (max-width: 650px) {
    .content-add-task {
        padding: 5px;
    }

    ::-webkit-scrollbar {
        background: transparent;
    }
    /* Track */
     ::-webkit-scrollbar-track {
        background: transparent;
        box-shadow: none;
        border: none;
    }
    /* Handle */
     ::-webkit-scrollbar-thumb {
        background: transparent;
    }
}

@media (max-width: 520px) {
    .content-add-task {
        padding-top: 20px;
    }

    .content-headline-add-task {
        margin-left: 5px;
    }

    .content-headline-add-task h3 {
        font-size: 40px;
    }

    .field-required-text {
        font-size: 12px;
    }

    .btn-create {
        width: 100px !important;
    }

    .btn-dark-blue {
        font-size: 12px;
        padding: 2px;
    }
}

@media (max-width: 414px) {
    .content-add-task {
        padding-top: 50px;
    }

    /* .btn-create {
        width: 120px;
    } */

    /* .field-required-text {
        font-size: 15px;
    } */
}