@media (max-width: 1520px) {
    .frame-136 {
        display: flex;
        justify-content: start;
        flex-wrap: wrap;
        overflow-y: scroll;
        height: 55%;
    }

    .frame-192 {
        width: 830px;
    }
}

@media (max-width: 1420px) {
    .frame-136 {
        margin-left: 62px;
    }

    .frame-192 {
        margin-left: 62px;
    }
}

@media (max-width: 1330px) {
    .res-content-board {
        padding-top: 90px;
        padding-left: 90px;
    }
}

@media (max-width: 1180px) {
    .res-content-board {
        padding-top: 0;
    }

    .frame-192 {
        display: inline-table;
        padding-top: 0;
    }

    .frame-123 {
        justify-content: end;
    }
}

@media (max-width: 1154px) {
    .frame-192 {
        display: inline-table;
    }

    .frame-123 {
        justify-content: start;
    }
}


@media (max-width: 868px) {
    .frame-123 {
        flex-direction: column;
        align-items: start;
        gap: 18px;
    }

    .button-add-task {
        margin-left: 0;
    }
}


@media (max-width: 768px) {
    .res-content-board {
        padding-top: 0;
    }

    .frame-192 h2 {
        text-align: start;

    }
}

@media (min-width: 741px) {
    .res-button-add-task {
        display: none;
    }
}

@media (max-width: 740px) {
    .frame-192 {
        width: 100%;
        padding-right: 0;
    }

    .res-content-board {
        padding-left: 0;
    }

    .display-none {
        display: none;
    }

    .res-button-add-task {
        background-color: white;
        border-style: none;
        margin-right: 20px;
        cursor: pointer;
    }

    .frame-123 {
        max-width: 80%;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
    }

    .board-actionbar {
        width: 100%;
    }

    .lanes {
        width: 100%;
    }
}