@media (max-width: 1420px) {
    .summery {
        margin-left: 62px;
    }
}

@media (max-width: 1330px) {
    .summery {
        padding-top: 90px;
        padding-left: 90px;
        padding-right: 90px;
    }
}

@media (max-width: 1300px) {
    .chip1x {
        padding: 1.5em 0.5em 1.5em 0.5em;
    }
    .chip2x {
        padding: 1em 0.5em 1em 0.5em;
    }
    .chip3x {
        padding: 1.5em 0.5em 1.5em 0.5em;
    }
    .chipIcon {
        background-size: 49px 49px;
        width: 49px;
        height: 49px;
    }
    .chipIcon2 {
        background-size: 49px 49px;
        width: 49px;
        height: 49px;
    }
    .chipData2x h1 {
        font-size: 50px;
    }
    .chipData3x h2 {
        font-size: 50px;
    }
    .chipData3x p {
        font-size: 16px;
    }
}

@media (min-width: 1211px) {
    .greetingAreaRes {
        display: none;
    }
}

@media (max-width: 1210px) {
    .greetingArea {
        display: none;
    }
    .greetingAreaRes h3 {
        font-size: 35px;
        margin-block-start: 0;
        margin-block-end: 0;
    }
}

@media (max-width: 1000px) {
    .summeryHeadline h1 {
        font-size: 50px;
    }
    .summeryHeadline p {
        font-size: 21px;
    }
}

@media (max-width: 880px) {
    .summery {
        padding-top: 50px;
    }
    .summeryHeadline {
        flex-direction: column;
        align-items: center;
    }
    .summeryHeadline h1 {
        font-size: 40px;
    }
    .summeryHeadline img {
        height: 3px;
        width: 100%;
    }
    .chipsArea {
        row-gap: 20px;
    }
}

@media (max-width: 782px) {
    .summery {
        padding-top: 15px;
    }
    .summeryHeadline {
        flex-direction: column;
        /* align-items: center; */
        justify-content: flex-start;
        gap: 0;
        padding-left: 2em;
        padding-top: 2em;
    }
    .summeryHeadline img {
        display: none;
    }
    .summeryHeadline h1 {
        font-size: 47px;
        margin: 0;
        text-align: left;
    }
    .summeryHeadline p {
        font-size: 24px;
        margin: 0;
    }
    .chipData1x h2 {
        margin-block-start: 0;
        margin-block-end: 0;
        font-size: 16px;
    }
    .chipData1x p {
        font-size: 14px;
    }
    .chipData2x h1 {
        font-size: 40px;
    }
    .chipData3x h2 {
        font-size: 40px;
    }
    .chipData3x p {
        font-size: 12px;
    }
}

@media (min-height: 760px) and (max-height: 774px) {
    .summery {
        overflow-y: scroll;
        height: 85vh;
    }
}

@media (min-width: 423px) {
    .seperating-line-res {
        display: none;
    }
}

@media (max-width: 422px) {
    .summery {
        padding-left: 0;
        padding-right: 0;
        margin-left: 10px;
        margin-right: 20px;
    }

    .summeryHeadline {
        align-items: start;
        padding-left: 0;
        padding-top: 0;
    }

    .greetingAreaRes {
        display: none;
    }

    .chip2x {
        margin-left: 0;
        margin-right: 0;
        width: 44%;
    }

}