@media (max-width: 1254px) {
    .vector-blue,
    .subtitle-contacts {
        display: none;
    }
}

@media (max-width: 1188px) {
    #content {
        top: 6px;
        height: 100vh;
        padding: 0;
    }
    .contacts-h1 {
        display: none;
    }
    .contacts-list-section {
        max-width: 100%;
        margin: 0;
        margin-top: 3px;
        align-items: center;
    }
    .contacts-content {
        position: relative;
        display: block;
    }
    .alphabet-section {
        align-self: auto;
        width: 500px;
        align-items: center;
    }
    .contacts-button-respon {
        margin: 0 !important;
    }
    .respon-overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.15);
        z-index: 4;
        transform: translateX(200%);
        transition: all 225ms ease-in-out;
    }
}

@media (max-width: 740px) {
    .sidebar,
    .header {
        display: none;
    }
    .respon-header {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        height: 96px;
        padding-left: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #FFF;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
    }
    .respon-footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--dark-blue);
        color: white;
        z-index: 1;
    }
    .respon-logo {
        width: 46px;
        height: 56px;
        object-fit: cover;
    }
    .nav-footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .respon-footer-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 4px;
        padding: 15px;
        border-radius: 8px;
        min-width: 76px;
    }
    .respon-footer-buttons:hover {
        cursor: pointer;
        background-color: var(--general-button-active);
    }
    #content {
        /* position: absolute; */
        left: 0;
        margin-left: 0;
        width: 100%;
        background-color: white;
    }
    .contacts-headline {
        justify-content: center;
    }
    .contacts-content {
        display: flex;
        flex-direction: column;
    }
    .contacts-list {
        width: 100%;
        height: 75%;
        align-items: flex-start;
        padding: 32px 0;
    }
    .alphabet-section {
        align-items: flex-start;
    }
    .add-new-button {
        display: none;
    }
    .respon-add-contact {
        display: block;
        position: absolute;
        right: 90px;
        bottom: 110px;
        z-index: 1;
    }
    .respon-add-contact-button {
        border-radius: 50%;
        border: none;
        padding: 12px;
        background-color: var(--dark-blue);
    }
    .respon-add-contact-button:hover {
        cursor: pointer;
        background-color: var(--lightblue);
        transition: 0.1s ease-in-out;
    }
    .respon-footer {
        gap: 0;
    }
}

@media (max-width: 630px) {
    .respon-add-contact {
        right: 32px;
    }
}