@media (max-width: 768px) {
    .logoAnimationImg {
        width: 70px;
        height: 90px;
        background-size: 70px, 90px;
    }
    .frame-156 {
        display: none;
    }
    .frame-156-footer {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 35px;
        width: 279px;
        height: 49px;
    }
}

@media (max-width: 600px) {
    .frame-153 {
        width: 40%;
    }
}