/* **************************BOARD ***********************************/


@media (max-height: 667px) {
    .board-task-middle {
        height: 45vh;
    }
}

@media (max-height: 786px) {
    .board-task-middle {
        height: 45vh;
    }
}

@media (max-height: 846px) {
    .board-task-middle {
        height: 50vh;
    }
}

@media (max-height: 812px) {
    .board-task-middle {
        height: 50vh;
    }
}

@media (max-height: 736px) {
    .board-task-middle {
        height: 42vh;
    }
}

@media (max-height: 786px) and (min-height: 785px) {
    .board-task-middle {
        height: 45vh;
    }
}

@media (max-height: 568px) and (min-height: 560px) {
    .board-task-middle {
        height: 30vh;
    }
}

/* **************************CONTACTS ***********************************/


@media (max-height: 730px) {
    .res-left-arrow {
        margin: 0;
        right: 16px;
        top: 8px;
    }
    .res-contacts-headline {
        margin: 8px 0 32px 0;
    }
    .mail-headline {
        margin-top: 24px;
    }
    .options-btn-div {
        bottom: 32px;
    }
    .loginButtons {
        margin-top: 16px;
    }
}