@media (max-width: 1520px) {
    .res-content-board {
        /* max-width: calc(1080px + 32px); */
        width: 100%;
        /* padding: 90px  */
    }

    .frame-136 {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        width: 100%;
        padding-right: 20px;
    }

    .frame-192 {
        width: 830px;
        padding-right: 20px;
    }

}

@media (max-width: 1420px) {
    .frame-136 {
        margin-left: 62px;
    }

    .frame-192 {
        margin-left: 62px;
    }
}

@media (max-width: 1330px) {
    .res-content-board {
        padding: 90px;
    }
}

        