.sidebar {
    background-color: #2A3647;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 232px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0px;
    /* padding-top: 50px;
    padding-bottom: 50px; */
    color: #CDCDCD;
    font-family: sans-serif;
    font-weight: 300;
    z-index: 2;
}

.logo {
    background-image: url("../IMG/LogoWhite.png");
    background-size: cover;
    width: 101px;
    height: 124px;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    gap: 0.9375rem;
}

.navs {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: flex-start; */
    width: 232px;
    padding-left: 30%;
    padding-right: -30%;
}

.navs:hover {
    cursor: pointer;
    background-color: #2A3D59;
    transition: 0.1s ease-in-out;
}


/* .bgDark{
    background-color: #091931;
} */

.summary {
    background-image: url("../IMG/Summary.png");
    background-size: cover;
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

.board {
    background-image: url("../IMG/Board.png");
    background-size: cover;
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

.board h3 {
    text-align: left;
}

.addTask {
    background-image: url("../IMG/addTask.png");
    background-size: cover;
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

.contacts {
    background-image: url("../IMG/Contacts.png");
    background-size: cover;
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

.header {
    height: 96px;
    padding-left: 50px;
    padding-right: 50px;
    /* padding: 0px 1140px 0px 700px; */
    /* padding-left: 300px;
    padding-right: 40px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    left: 232px;
    background-color: #FFF;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
}

.infoButton {
    background-image: url("../IMG/help.png");
    background-size: cover;
    width: 20px;
    height: 21px;
}

.infoButton:hover {
    cursor: pointer;
    transition: 0.1s ease-in-out;
    transform: scale(1.1, 1.1);
}

.userImg {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--lightblue);
    font-weight: bold;
    font-size: 30px;
    width: 56px;
    height: 56px;
    border-radius: 30px;
    border: 3px solid #2A3647;
}

.userImg:hover {
    cursor: pointer;
    background-color: var(--grey);
    transition: 0.1s ease-in-out;
}

.accountIssues {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 104px
}

.legal-policy:hover {
    cursor: pointer;
    color: var(--lightblue);
    transition: 0.1s ease-in-out;
    transform: scale(1.1, 1.1);
}

.popupAccount {
    position: absolute;
    background-color: #2A3647;
    width: 150px;
    height: 158px;
    top: 6em;
    right: 7em;
    padding: 10px;
    border-radius: 20px 0px 20px 20px;
    gap: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.popupAccountBtn {
    width: 130px;
    background-color: #2A3647;
    /* height: 46px; */
    /* padding: 8px 16px 8px 16px; */
    /* border-radius: 8px; */
    /* font-size: 16px; */
    color: #CDCDCD;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.popupAccountBtn:hover {
    background-color: rgb(9, 25, 49, 0.1);
    cursor: pointer;
}