body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.signUpWindow {
    position: relative;
    display: inline-flex;
    padding: 3rem 4.5rem;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    background-color: white;
    border-radius: 1.875em;
    box-shadow: 0 0 14px 3px rgba(0, 0, 0, 0.03);
}

.signUp-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.signUpInput {
    border: none;
}

.signUpInputArea {
    border: 1px solid #D1D1D1;
    width: 422px;
    height: 48px;
    padding: 12px 21px 12px 21px;
    border-radius: 10px;
    gap: 10px;
    display: flex;
    align-items: center;
}

.signUpInputArea input {
    font-size: 20px;
    color: #d1d1d1
}

.signUpInputArea input:focus {
    outline: none;
}

.accountForm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 70%;
}


/* #content {
    position: absolute;
    height: 71%;
    text-align: justify;
    text-overflow: clip;
    padding: 90px;
    left: 232px;
    top: 98px;
    right: -15px;
    overflow: hidden;
    overflow-y: scroll;
} */

.d-flex-headline {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

.backBtn {
    position: absolute;
    top: 3rem;
    left: 2rem;
    border: none;
    background-color: var(--white);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.backBtn:hover {
    background-color: #EEE;
    box-shadow: none;
}

.sign-up-privacy-policy {
    max-width: 260px;
    max-height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-style {
    color: var( --link-color);
}

.link-style:hover {
    text-decoration: underline;
    background-color: var(--lightgrey);
    border: none;
    box-shadow: none;
    color: var(--Ligth-blue, #29ABE2);
    font-size: 16px;
    font-style: normal;
    line-height: 120%;
    transition: 0.1s ease-in-out;
    transform: scale(1.02, 1.02);
}

.sign-up-btn {
    margin-top: 0 !important;
}