.summery {
    padding: 90px;
}

.contentArea {
    display: flex;
}

.summeryHeadline {
    display: flex;
    gap: 10px;
}

.summeryHeadline h1 {
    font-size: 61px;
}

.summeryHeadline p {
    font-size: 27px;
}

.chipsArea {
    gap: 16px;
    width: 100%;
    box-sizing: border-box;
    display: grid;
    margin-top: 32px;
    margin-bottom: 32px;
    max-width: 560px;
    column-gap: 28px;
    row-gap: 32px;
}

.chip2x {
    background-color: white;
    width: 50%;
    padding: 2.375em 1.1875em 2.375em 1.1875em;
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 0px 4px 0px #0000009a;
}

.chip1x:hover {
    background-color: #2A3647;
    color: white;
    scale: 105%;
    transition: scale 0.2s ease-in-out;
    cursor: pointer;
}

.chip2x:hover {
    background-color: #2A3647;
    color: white;
    scale: 105%;
    transition: scale 0.2s ease-in-out;
    cursor: pointer;
}

.chip3x:hover {
    background-color: #2A3647;
    color: white;
    scale: 105%;
    transition: scale 0.2s ease-in-out;
    cursor: pointer;
}

.chipIcon {
    background-image: url("../IMG/pen.png");
    background-size: 69px 69px;
    width: 69px;
    height: 69px;
}

.chipIcon2 {
    background-image: url("../IMG/check.png");
    background-size: 69px 69px;
    width: 69px;
    height: 69px;
}


.chip2x:hover .chipIcon {
    background-image: url("../IMG/penInv.png");
}

.chip2x:hover .chipIcon2 {
    background-image: url("../IMG/checkInv.png");
}

.chipData2x {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chipData2x h1 {
    margin: 0;
    font-size: 69px;
}

.chipData2x p {
    margin: 0;
    font-size: 20px;
}

.chip1x {
    background-color: white;
    width: 100%;
    padding: 38px 19px 38px 19px;
    border-radius: 30px;
    gap: 18px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px 0px 4px 0px #0000009a;
}

.chip3x {
    background-color: white;
    width: 25%;
    height: 60px;
    padding: 3.375em 1.1875em 3.375em 1.1875em;
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 0px 4px 0px #0000009a;
}

.chipData3x {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chipData3x h2 {
    font-size: 69px;
    margin: 0;
}

.chipData3x p {
    font-size: 21px;
    margin: 0;
    font-weight: 400;
    text-align: center;
}

.chipsAreaRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 44px;
}

.greetingArea {
    width: 50%;
    padding-left: 80px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: start;
}

.greetingArea h3 {
    font-size: 47px;
    margin: 0;
}

.greetingArea h4 {
    font-size: 64px;
    color: #29ABE2;
    margin: 0;
}