.tinyTaskCard{
    display: flex;
    flex-direction: column;
    max-width: 252px;
    padding: 16px;
    border-radius: 24px;
    gap: 10px;
    background-color: white;
    cursor: move;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.107);
    /* z-index: 2; */
    margin-bottom: 20px;
    transition: transform 0.2s;
}

.tinyTaskCard:hover {
    cursor: grab;
    transform: rotate(3deg);
}

.tiny-task-category {
    color: #FFFF;
    display: flex;
    justify-content: center;
    background-color: #0038FF;
    width: 90px;
    padding: 4px 16px;
    border-radius: 10px;
}

.tiny-title {
    display: flex;
    flex-direction: column;
}

.tinyTaskCard h1{
    font-size: 16px;
    margin-block-start: 0;
    margin-block-end: 0;
}
.tinyTaskCardDescription{
    color: #A8A8A8;
    
}
.subtasks{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}

.tiny-task-label {
    display: flex;
    gap: 11px;

}
.tiny-task-label p{
    font-size: 18px !important;
}

