body{
    background-color: aqua;
}
.addContactOverlay{
    width: 1212px;
    height: 592px;
    display: flex;
}

.overlaySide{
    background-color: #2A3647;
    height: 594px;
    width: 467px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 48px;
    color: white;
    font-family: sans-serif;
    font-size: 31px;
    border-radius: 30px 0 0 30px;

}
.logoContact{
    background-image: url('./IMG/LogoWhite.png');
    background-size: cover;
    width: 55.6px;
    height:66.48px;

}
.formularSide{
    background-color: white;
    width: 100%;
    border-radius: 0px 30px 30px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;

}
.userImg{
    background-image: url("./IMG/UserIMG.png");
    width: 120px;
    height: 120px;
    background-size: cover;

}
.contactForm{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
.contactForm input{
    width: 422px;
    height:50px;
}